@import 'colors';
@import 'fonts';

#loading-bar .bar {
  position: fixed;
  z-index: 99;
  top: 0px;
  height: 3px;
  background: #2196F3;
}

#loading-bar-spinner .spinner-icon {
  border-top-color: #2c3e50;
  border-left-color: #2c3e50;
}

#loading-bar .peg {
  -moz-box-shadow: #000 1px 0 3px 1px;
  -ms-box-shadow: #000 1px 0 3px 1px;
  -webkit-box-shadow: #000 1px 0 3px 1px;
  box-shadow: #000 1px 0 3px 1px;
}

.margin-lft {
  margin-left: 17.1%;
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
  }
}

.pullleft {
  margin-left: 320px;
}

md-backdrop {
  position: fixed;
}

.pgs-mainContent {
  margin-top: 64px;

  md-icon.star-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
