$toast-warn: #C62828;
$toast-success: #2E7D32;

md-toast.md-success-toast-theme {
  .md-toast-content {
    background-color: $toast-success;
  }
}

md-toast.md-warning-toast-theme {
  .md-toast-content {
    background-color: $toast-warn;
  }
}

md-toast {
  position: fixed;
}