<md-sidenav
        class="CategoryComponent md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        layout="column"
        md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Category</h1>
    </md-toolbar>
    <md-content layout="column">
        <md-button ng-repeat="tile in $ctrl.objKeys"
                   ui-sref="app.category({ id:tile })"
                   class="md-primary"
                   ng-click="$ctrl.selectCategory(tile)"
                   ng-class="$ctrl.getCategoryClass(tile)"
                   aria-label="Category {{ tile }}">
            <span>{{ tile }}</span>
        </md-button>
    </md-content>

    <div ng-if="$ctrl.user">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Admin</h1>
        </md-toolbar>
        <md-content layout="column">

            <md-button class="md-primary"
                       ui-sref="app.products"
                       ng-click="$ctrl.selectCategory('products')"
                       ng-class="$ctrl.getCategoryClass('products')"
                       aria-label="Products">
                <span>Products</span>
            </md-button>

            <md-button class="md-primary"
                       ui-sref="app.categories"
                       ng-click="$ctrl.selectCategory('categories')"
                       ng-class="$ctrl.getCategoryClass('categories')"
                       aria-label="Categories">
                <span>Categories</span>
            </md-button>
        </md-content>
    </div>

    <div flex></div>
</md-sidenav>
