<md-sidenav
        class="CategoryComponent md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        layout="column"
        md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Category</h1>
    </md-toolbar>
    <md-content layout="column">
        <md-button ng-repeat="tile in $ctrl.data"
                   ui-sref="app.category({ id:tile.id })"
                   class="md-primary"
                   ng-click="$ctrl.selectCategory(tile.id)"
                   ng-class="$ctrl.getCategoryClass(tile.id)"
                   aria-label="Category {{ tile.title }}">
            <span>{{ tile.title }}</span>
        </md-button>
    </md-content>
    <div flex></div>
</md-sidenav>
