<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="../image/favicon.ico">
</head>
<body>
<app-component></app-component>
</body>
</html>
