<div class="CategoryView" layout="column" ng-cloak>
    <md-content ng-class="{pull-left: $ctrl.$mdMedia('gt-sm')}"
                class="pgs-mainContent" layout-padding>
        <div layout="column" layout-align="top left">
            <md-grid-list
                    md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="2:2"
                    md-gutter="12px" md-gutter-gt-sm="8px">
                <md-grid-tile ng-repeat="tile in $ctrl.categoryData">
                    <img ng-src="{{tile.imageUrl}}" layout-fill>
                    <md-icon ng-if="tile.promoted"
                             class="star-icon"
                             md-svg-icon="../icons/ic_star_white_24px.svg">
                    </md-icon>
                    <md-grid-tile-footer>
                        <h3>{{ tile.title}}</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
        <div flex></div>
    </md-content>
</div>
